<nav class="navbar bg-body-light border-bottom sticky-top">
  <div class="container-fluid d-flex align-items-center">
    <!-- Brand -->
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>

    <!-- Explore (left) -->
    <div class="navbar-nav d-flex align-items-center d-none d-lg-flex">
      <a class="nav-link" href="/listings">Explore</a>
    </div>

    <!-- Search (center) -->
    <div class="mx-auto d-flex justify-content-center flex-grow-1 d-none d-lg-flex">
      <form class="d-flex w-25" role="search" action="/listings/search-filter" method="GET">
        <input class="form-control me-2 search-inp" type="search" name="q" placeholder="Search destinations"/>
        <button class="btn search-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>

    <!-- Become a host (desktop only, left of hamburger) -->
    <div class="d-none d-md-flex navbar-nav me-4 align-items-center">
      <a class="nav-link" href="/listings/new">Become a host</a>
    </div>

    <!-- Hamburger toggler (right) -->
    <button id="hamburgerBtn" class="navbar-toggler" type="button" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Custom Popup Box -->
    <div id="hamburgerPopup" class="hamburger-popup d-none">
      <div class="popup-header">
        <h5>Menu</h5>
        <button id="popupCloseBtn" type="button" aria-label="Close popup">&times;</button>
      </div>
      <div class="popup-body">
        <a class="nav-link" href="/listings/new">Become a host</a>
        <button 
          type="button" 
          class="btn btn-link nav-link text-start p-0" 
          data-bs-toggle="modal" 
          data-bs-target="#filterModal">
          Filters
        </button>
        <% if(typeof currUser === 'undefined' || !currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(typeof currUser !== 'undefined' && currUser) { %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
